#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Notepod
Version=1.0
Terminal=false
Type=Application
Exec=.local/bin/notepod
Icon=/home/USER/.local/share/icons/hicolor/256x256/apps/notepod.png
